.box{
  width: 95%;
   margin-top: 200px;
   border-radius: 5px;
   border: #495057 2px solid;
   height: 500px;
   background-color: #2b3035;
}

.boxSlider{
   background-color: #2b3035;
}

.buttonBuy{
   margin-top: 5px;
}