.boxSlider{
 width: 100%;  
 display: flex;
 flex-direction: column;
 align-items: center;
}
.nadpisKnihy{
   text-align: center;
   margin: 8px 20px;
   color: white;
   height: 40px;
   text-decoration: none;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   background-color: #2b3035;
}

.cenaSlider{
   font-size: 22px;
   background-color: #2b3035;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   width: 100%;
}


.ramPhoto{
   text-align: center;
   cursor:move;
   width: 320px;
   height: 200px;
}
.ramZoomPhoto{
   display: block;
   text-align: center;
   cursor:move;
   width: 380px;
   height: 200px;
   
}
.ramImage{
   width: 100%;
   max-height: 170px;
   border-radius: 6px;
}

.kategoriaKvalita{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   align-items:start;
   background-color: #2b3035;
   font-size: 16px;
   margin-top: 20px;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";  
   
}
.buttonBuy{
   color: #2b3035;
   width: 40%;
   margin-left: 30%;
   margin-right: 30%;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
   font-size: 16px;
   padding: 9px 25px;
   border-radius: 50px;
   border: #495057 1px solid;
   background-color: rgb(58, 221, 221);
   cursor: pointer;
}
.buttonBuy:hover{
   background-color: rgb(49, 148, 148);
   color: white;
}