.boxSlider{
 width: 100%;  
 display: flex;
 flex-direction: column;
 align-items:center;
 justify-content:center;
 min-height: 470px;
 height: 90%;
}
.nadpisKnihy{
   text-align: center;
   margin-bottom: 10px;
   color: white;
   height: 40px;
   text-decoration: none;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   background-color: #2b3035;
}


.categoriaKvalitaSlider{
   width: 24px;
}

.ramImage{
   width: 100%;
   min-height: 300px;
}


.kategoriaKvalita{
   display: flex;
   justify-content:space-evenly;
   width: 100%;
   align-items:center;
   font-size: 19px;
   margin: 10px;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";  
   
}
.imgKvalita{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 30%;

}
.imgKategoria{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 26%;
}
.textKategoriaKvalita{
   color: white;
}
/* Cena dole v inzerate */
.cenaTextImage{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 35%;
   margin-top: 20px;

}
.cenaSlider{
   font-size: 22px;
   background-color: #2b3035;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 
   text-align: center;
   width: 100%;
   font-size: 20px;
}
.cenaImage{
   width: 25px;
   height: 25px;
}
