.addCelyObsah{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   color: white;
   background-color: #212529;
   border: rgb(63, 63, 63) 2px solid;
   border-radius: 5px;
   margin: 20px 20px 0 20px;
   height: 400px;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.addNadpisCely{
   color: rgb(58, 221, 221);
    margin-bottom: 12px;
    
}
.addNadpisNazov{
   text-align: center;
   
}
.addNazov{
   width: 70%;
   padding: 8px;
   text-align: center;
   background-color: white;
   margin-bottom: 20px;
   margin-top: 5px;
   border-radius: 30px;
}
.addKategoriaKvalita{
   display: flex;
   flex-direction: row;
   text-align: center;
   justify-content:space-evenly;
   margin-bottom: 20px;
}
.addKategoria{
   background-color: white;
   padding: 4px;
   margin-top: 5px;
   cursor: pointer;
   border-radius: 30px;
}
.addKvalita{
   background-color: white;
   padding: 4px;
   margin-top: 5px;
   cursor: pointer;
   border-radius: 30px;
}
option{
   background-color: white;
}
.addFileUpload{
   text-align: center;
   margin-bottom: 20px;
   width: 100%;
}
.addFile{
   margin-top: 5px;  
}
::-webkit-file-upload-button {
   border-radius: 30px;
   font-size: 12px;
   padding: 7px;
   background-color: rgb(58, 221, 221);
   cursor: pointer;
 }
.addCenaPredaja{
   text-align: center;
   margin-bottom: 25px;
}
.addCena{
   margin-top: 5px;
   text-align: center;
   background-color: white;
   width: 70px;
   padding: 7px;
   border-radius: 30px;
}

.addButton{
   display: flex;
   justify-content: center;
}
.addSubmit{
   color: #000000;
   cursor: pointer;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
   font-size: 17px;
   padding: 9px 25px;
   border-radius: 50px;
   background-color: rgb(58, 221, 221);
   text-align: center;
}
.addSubmit:hover{
   background-color: rgb(49, 148, 148);
   color: white;
}