.fixedCeleCancel{
   padding-top: 5px;
   background-color: #2b3035;
   height: 75%;
   width: 100%;
   position: fixed;
   bottom: 75px;
   text-align: center;
   border-top: rgb(58, 221, 221) 1px solid;
}
@media only screen and (max-width: 600px)
{
.fixedCeleCancel{
   height: 580px;
}
}
.ok{
   border: 2px red solid;
   cursor: pointer;
}
.addCelyObsah{
   display: flex;
   flex-direction: row;
   justify-content: center;
    align-items: flex-start;
   color: white;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.addNadpisCely{
   color: rgb(58, 221, 221);
    margin-bottom: 12px;
    margin-top: 10px;
}
@media only screen and (max-width: 600px)
{
.addNadpisCely{
   margin-top: 0px;
   margin-bottom: 3px;
}
}
.addNadpisNazov{
   text-align: center;
}

.addNazov{
   width: 70%;
   padding: 4px;
   font-size: 18px;
   text-align: center;
   background-color: white;
   margin-bottom: 15px;
   margin-top: 5px;
   border-radius: 30px;
   height: 34px;
   border: 3px transparent solid;
}
@media only screen and (max-width: 600px)
{
.addNazov{
   margin-top: 5px;
   margin-bottom: 5px;
   height: 25px;
}
}
.addNazov:valid {
   border: rgb(58, 221, 221) 3px solid;
   height: 34px;
 }
 @media only screen and (max-width: 600px)
{
.addNazov:valid{
   height: 25px;
}
}
.addNazov:focus{
   outline: none;
   text-align: center;
}
.addKategoriaKvalita{
   display: flex;
   flex-direction: row;
   text-align: center;
   justify-content:space-evenly;
   margin-bottom: 20px;
}
@media only screen and (max-width: 600px)
{
.addKategoriaKvalita{
   margin-top: 5px;
   margin-bottom: 5px;
}
}
.addKategoria{
   background-color: white;
   padding: 4px;
   margin-top: 5px;
   cursor: pointer;
   border-radius: 30px;
   text-align: center;
   width: 120px;
   height: 35px;
   border: 3px transparent solid;
}
@media only screen and (max-width: 600px)
{
.addKategoria{
   height: 30px;
}
}
.addKategoria:focus{
   outline: none;
   text-align: center;
}
.addKvalita{
   background-color: white;
   padding: 4px;
   margin-top: 5px;
   cursor: pointer;
   border-radius: 30px;
   text-align: center;
   width: 120px;
   height: 35px;
   border: 3px transparent solid;
}
@media only screen and (max-width: 600px)
{
.addKvalita{
   height: 30px;
}
}
.addKvalita:valid {
   border: rgb(58, 221, 221) 3px solid;
   padding: 2px;
 }

 .addKategoria:valid {
   border: rgb(58, 221, 221) 3px solid;
   padding: 2px;
 }

.addKvalita:focus{
   outline: none;
   text-align: center;
}
option{
   background-color: white;
   
}
.addFileUpload{
   text-align: center;
   margin-bottom: 15px;
   width: 100%;
   border: none;

}
@media only screen and (max-width: 600px)
{
.addFileUpload{
   margin-top: 10px;
   margin-bottom: 7px;
}
}
.addFile{
   margin-top: 5px;  
   border: none;
}

::-webkit-file-upload-button {
   border-radius: 30px;
   font-size: 12px;
   padding: 7px;
   background-color: rgb(58, 221, 221);
   cursor: pointer;
   border: 3px transparent solid;
 }
.addCenaPredaja{
   text-align: center;
   margin-bottom: 15px;
}
@media only screen and (max-width: 600px)
{
.addCenaPredaja{
   margin-top: 5px;
   margin-bottom: 10px;
}
}

.addCena{
   margin-top: 8px;
   text-align: center;
   background-color: white;
   width: 70px;
   padding: 7px;
   border-radius: 30px;
   border: 3px transparent solid;
}
.addCena:focus{
   outline: none;
}
.addCena:valid {
   border: rgb(58, 221, 221) 3px solid;
   padding: 7px;
 }

.addButton{
   display: flex;
   justify-content: center;
   border: none;
   margin-top: 20px;
}
@media only screen and (max-width: 600px)
{
.addButton{
   margin-top: 0px;
   margin-bottom: 10px;
}
}
.addSubmit{
   color: #000000;
   cursor: pointer;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
   font-size: 17px;
   padding: 9px 25px;
   border-radius: 50px;
   border: none;
   background-color: rgb(58, 221, 221);
   text-align: center;
   
}
.addSubmit:hover{
   background-color: rgb(49, 148, 148);
   color: white;
}
.imageCancel{
cursor: pointer;
}
.menoPasswordEmail{
   border-top: 1px solid rgb(58, 221, 221);
   padding: 5px;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: space-between;
   align-items: center;
}
.nadpisAddUdaje{
   font-size: 15px;
   margin-bottom: 10px;
   color: rgb(58, 221, 221);

}
@media only screen and (max-width: 600px)
{
.nadpisAddUdaje{
   margin-top: 5px;
   margin-bottom: 0px;
}
}
.menoPriezvisko{
   width: 80%;
   font-size: 18px;
   height: 35px;
   text-align: center;
   border-radius: 50px;
   border: 1px solid transparent;
   margin-top: 10px;
   padding: 2px;
}
@media only screen and (max-width: 600px)
{
.menoPriezvisko{
   margin-top: 7px;
   margin-bottom: 10px;
   height: 25px;
}
}
.menoPriezvisko:valid {
   border: rgb(58, 221, 221) 3px solid;
   padding: 0px;
 }
.Email{
   width: 100%;
   font-size: 18px;
   height: 35px;
   text-align: center;
   border-radius: 50px;
   border: 1px solid transparent;
   margin: 20px 0px;
   padding: 2px;
}
@media only screen and (max-width: 600px)
{
.Email{
   margin-top: 10px;
   margin-bottom: 10px;
   height: 25px;
}
}
.Email:valid {
   border: rgb(58, 221, 221) 3px solid;
   padding: 0px;
 }

.Password{
   width: 80%;
   font-size: 18px;
   height: 35px;
   text-align: center;
   border-radius: 50px;
   border: 1px solid transparent;
   margin: 10px;
   padding: 2px;
}
@media only screen and (max-width: 600px)
{
.Password{
   margin-top: 10px;
   margin-bottom: 15px;
   height: 30px;
}
}
.Password:valid {
   border: rgb(58, 221, 221) 3px solid;
   padding: 0px;
 }
.deletePassword{
   border-top: 1px solid rgb(58, 221, 221);
   margin-top: 5px;
   padding-top: 5px;
   width: 100%;
}
.menoPriezvisko:focus{
   outline: none;  
}
.Email:focus{
   outline: none;  
}
.Password:focus{
   outline: none;  
}
