.downMenu{
   background-color: #2b3035;
   height: 55px;
   padding: 10px;
   width: 100%;
   position: fixed;
   bottom: 0;
   border-top: rgb(58, 221, 221) 1px solid;
   display: flex;
   justify-content: space-evenly;
}
.imageSelectButton{
cursor: pointer;
width: 50px;
height: 50px;
padding-left: 50px;
padding-right: 50px;
}
.imageAddButton{
cursor: pointer;
width: 50px;
height: 50px;
padding-left: 50px;
padding-right: 50px;
}
.imageSelectButton:hover{
   transform: scale(1.2);
}
.imageAddButton:hover{
   transform: scale(1.1);
}
.MenuLoginIcon:hover{
   transform: scale(1.2);
}
.MenuLogin{
   text-align: center;
   height: 60px;  
   cursor: pointer;
}
.MenuLoginIcon{
   cursor: pointer;
   width: 70px;
   height: 55px;
   padding-left: 50px;
   padding-right: 50px;
}
