.boxMenu{
   display: flex;
   flex-direction: row;
   height: 40px;
   margin-bottom: 10px; 
}
.boxMenu p{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   height: 100%;
   font-size: 17px;
   font-weight:initial;
   text-decoration: none;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   
}
.boxPonukaProfil{
   border-bottom: #495057 2px solid;
   /* border-right: #212529 2px solid; */
   border-left: #2b3035 2px solid;
   border-top: #2b3035 2px solid;
   border-radius: 0px 0px 0px 0px;
   color: white;
   cursor: pointer;
    
}
.boxProfilProfil{
   border-right: #495057 2px solid;
   border-left: #495057 2px solid;
   border-top: #495057 2px solid;
   border-bottom: #2b3035 2px solid;
   border-radius: 6px 6px 0px 0px;
   color: rgb(58, 221, 221);
}