.RegisterWindow{
   display: flex;
   flex-direction: row;
   width:  420px;
   height: 50px;
   margin-top: 2px;
}
@media only screen and (max-width: 700px)
{
.RegisterWindow{
   width: 390px;
   padding: 5px;
   }
}
.RegisterWindow p{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   height: 100%;
   font-size: 17px;
   font-weight:initial;
   text-decoration: none;
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.RegisterLogin{
   border-bottom: #495057 2px solid;
   border-left: #2b3035 2px solid;
   border-top: #2b3035 2px solid;
   border-radius: 0px 0px 0px 0px;
   color: white;
   cursor: pointer;
}
.RegisterRegister{
   border-right: #495057 2px solid;
   border-left: #495057 2px solid;
   border-top: #495057 2px solid;
   border-bottom: #2b3035 2px solid;
   border-radius: 6px 6px 0px 0px;
   color: rgb(58, 221, 221);
}