*{
   margin: 0;
   padding: 0;
}
.FullApp{
   width: 100%;
   min-height: 500px;
   /* display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap; */
   color: #fff;
   margin-bottom: 5px;
 
}
.fullAppMenu{
   position: fixed;
   width: 100%;
   background-color: #212529;
}
