.appCele{
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   background-color: #212529;
}

.menu1{
   margin-top: 80px;
   margin-bottom: 80px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
}

.me{
   position: fixed;
   top: 0;
   width: 100%;
}
